body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00; 
background-color:rgba(120,240,360,0.1);
}
     
.container {
max-width: 900px;
            margin: 20px auto;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}
.whiter{
color:#fffff4;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;

}

h2 {
    border-bottom: 2px solid #ffcc00; 
    padding-bottom: 5px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px; 
    height: auto;
    border-radius: 50%; 
    border: 3px solid #ffcc00; 
}

.job {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

.job h3 {
    margin: 0;
    color: #ffcc00; 
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px; 
}

.weather {
    background: #eaeaea; 
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.weather h3 {
    margin: 0 0 10px 0;
}

.weather ul {
    list-style-type: none;     padding: 0;
}

.weather li {
    margin: 5px 0; 
}

@media (max-width: 768px) {
    .container {
        width: 95%; 
    }

    nav a {
        display: block; 
        margin: 10px 0;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

.card{
background-color:rgba(170,170,170,0.4);
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
padding: 20px;
margin:20px 0;
border-radius: 8px;
transition: transform 0.3s ease;}

.card:hover{
transform:translateY(-5px);
}
.read-more{
color:black;
background-color:rgba(173,173,173,0.8);
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
padding: 4px;
margin:10px 0;
border-radius: 8px;
transition: transform 0.3s ease;
}
.read-more:hover{
color:blue;
}
#crt{
font-size:1.1em;}

